<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="style.css" />
    <title>Tracks Display</title>
  </head>
  <body>
    <main>
      <ul class="tracks">
        <li class="card m-2 p-2" >
          <div class="track-image" >
            <img src="{{src}}" title="{{trackName}}" />
          </div>
          <div class="track-content trk-{{id}}" > 
            <p>{{ID}}: {{trackName}}</p>
            <p>{{excerpt}}</p>
            <p><a href="{{permalink}}" title="watch now!" target="_blank" >Watch on Jeeni now!</a></p>
            <p>{{mp4}}</p>
          </div>
        <li>
      </ul>
    </main>      
    <script src="script.js"></script>
  </body>
</html>
